.vscode/
.venv/
venv/

**/__pycache__/
**/*.py[cod]

logs/
*.out
test.pkl

airbnb-benchmark/
appian-benchmark/
flights-benchmark/
imdb-benchmark/
ssb-benchmark/

benchmarks/**/ground_truth*.pkl
baselines/aqp/results/

.DS_Store
